<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399808752144-3nlfag8j2k98s1lhsgg5fijd6i59jge4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399808752144-3nlfag8j2k98s1lhsgg5fijd6i59jge4</string>
	<key>API_KEY</key>
	<string>AIzaSyCJXS9yFZKa8Ku4Vk4VxmLnzRJL-C2Chj8</string>
	<key>GCM_SENDER_ID</key>
	<string>399808752144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blackjack101.blackjack101</string>
	<key>PROJECT_ID</key>
	<string>blackjack101-app</string>
	<key>STORAGE_BUCKET</key>
	<string>blackjack101-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399808752144:ios:30fd0f3fc4fa18fcf5f895</string>
</dict>
</plist>